*{
    font-family: 'Oswald', sans-serif;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: #000000;
}
  
  

.login-header{
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
.login-div{
    
    width: 30%;
    margin: auto;
    margin-top: 4rem;

    
}
.login-input-container{
    width: 100%;
    
    margin-top: 1rem;
}
.login-input {

    
    width: 100%;
    color: whitesmoke;
    padding: .5em;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 1em;
    transition: 600ms;
    outline: none;
    background-color: var(--third-bg-color);
    display: block;
    font-size: 1.2rem;
    &:focus{
        border-bottom: 1px solid rgb(12, 87, 52);
    }
}

.login-label{
   color: white;
   font-size: 1.25rem;
   font-weight: bold;
}
.login-button-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

    .full{
        &:hover{
            background-color: #16b895;
            
        }
        &:active{
            background-color: #16b895;
        }
        width: 100%;
        margin: 0 auto;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid;
        border-color: whitesmoke;
        margin-bottom: 1em;
        transition: 150ms;
        outline: none;
        background-color: var(--third-bg-color);
        color: white;
        font-weight: bold;
        font-size: 1.25rem;
        cursor: pointer;
    }

    .half{
        &:hover{
            background-color: #16b895;
            
        }
        &:active{
            background-color: #16b895;
        }
        width: 48%;
        margin: 0 auto;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid;
        border-color: whitesmoke;
        margin-bottom: 1em;
        transition: 50ms;
        outline: none;
        background-color: var(--third-bg-color);
        color: white;
        font-weight: bold;
        font-size: 1.25rem;
        cursor: pointer;
    }

}
.login-div{
   
    padding: 5em  2em;
    background-color: #128f74;
    border-radius: .5em;
}


.navbar{
    background-color: #128b71;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    .item{
        background-color: #128b71;
        height: 75%;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border:none;
        transition: 225ms;
        border-radius: 1px;
        margin-right: 1em;
        

        
        cursor: pointer;
        &:hover{
        
            background-color: #16b895;
            
        }
    }

    .logo{
        background-color: #128b71;
        height: 100%;
        border: none;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        transition: 150ms;
        border-radius: 2px;

    }
    .container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .searchbar{
        background-color: #128b71;
        height: 75%;
        border: 1px solid rgba(245, 245, 245, 0.267);
        color: rgba(245, 245, 245, 0.267);
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        transition: 150ms;
        border-radius: 25px;
        margin-left: 1rem;
        width: 20rem;
        padding: .5em;
        &:focus{
            outline: none;
            border: 1px solid whitesmoke;
            color: whitesmoke;
        }
    }
}



