
$Main-color: rgb(255, 199, 89);
$Secondary-color: rgb(255, 123, 156);
$Third-color: rgb(96, 113, 150);
$Fourth-color: rgb(186, 191, 209);
$Fifth-color: rgb(232, 233, 237);
$white: rgb(255, 255, 255);
$darker:0.96;
$lighter:1.04;
*{
    font-family: 'Oswald', sans-serif;
}
html {
    box-sizing: border-box;
    overflow: hidden;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background: $Third-color;
    background: linear-gradient(270deg, $Main-color 32%, $Secondary-color 70%); 
}
  
  

.login-header{
    font-size: 2.5rem;
    text-align: center;
    color: $white;
}
.login-div{
    width: clamp(30%, 25rem, 90%);

    margin: auto;
    margin-top: 4rem;
   

    
}
.login-input-container{
    width: 100%;
    
    margin-top: 1rem;
}
.login-input {

    
    width: 100%;
    color: whitesmoke;
    padding: .5em;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 1em;
    transition: 100ms;
    outline: none;
    background-color: var(--third-bg-color);
    display: block;
    font-size: 1.2rem;
    &:focus{
        border-bottom: 1px solid $Main-color;
    }
}

.login-label{
   color: $white;
   font-size: 1.25rem;
   font-weight: bold;
}
.login-button-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

    .full{
        width: 100%;
        margin: 0 auto;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid;
        border-color: whitesmoke;
        margin-bottom: 1em;
        transition: 150ms;
        outline: none;
        color: white;
        font-weight: bold;
        font-size: 1.25rem;
        cursor: pointer;
        color: $white;
        background-color: $Main-color;

        &:hover{
            background-color: $Main-color;
            
        }
        &:active{
            background-color: $Main-color*$darker*$darker;
        }

    }

    .half{
        width: 48%;
        margin: 0 auto;
        padding: .5em;
        border-radius: .5em;
        border: 1px solid;
        border-color: $white;
        margin-bottom: 1em;
        transition: 50ms;
        outline: none;
        font-weight: bold;
        font-size: 1.25rem;
        cursor: pointer;
        color: $white;
        background-color: $Main-color;

        &:hover{
            background-color: $Main-color;
            
        }
        &:active{
            background-color: $Main-color*$darker*$darker;
        }

    }

}
.login-div{
   
    padding: 5em  2em;
    background-color: $Secondary-color*$darker;
    border-radius: .5em;
}


.navbar{
    background-color: $Main-color;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    .item{
        background-color: $Main-color;
        height: 75%;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border:none;
        transition: 100ms;
        border-radius: 1px;
        margin-right: 1em;
        cursor: pointer;
        &:hover{
        
            background-color: $Main-color*$lighter;
            border-radius: 10%;
        }
        &:active{
            background-color: $Main-color*$darker;
        }
    }

    .logo{
        background-color: $Main-color;
        height: 100%;
        border: none;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        transition: 150ms;
        border-radius: 2px;

    }
    .container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .searchbar{
        background-color: $Main-color;
        height: 75%;
        border: 1px solid $Main-color*(2*$darker);
        color: $Third-color;
        font-size: 1.5rem;
        font-weight: bold;
        transition: 150ms;
        border-radius: 25px;
        margin-left: 1rem;
        width: 20rem;
        padding: .5em;
        &:focus{
            outline: none;
            border: 1px solid $Secondary-color;
            color: $Third-color*$darker;
        }
    }


}
.top-wave {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        position: relative;
        display: block;
        width: calc(116% + 1.3px);
        height: 146px;
        transform: rotateY(180deg);

        animation-iteration-count: infinite;
        transition: top 3s ease-in-out;
    }
    .shape-fill {
        fill: $Third-color;
    }
}

@keyframes bottom {
    0%    {height: 200px; }
    50%  {height:250px;}
    100% {height:200px;}
  }
  @keyframes top {
    0%    {height: 146px; } 
    75%  {height:155px;}
    100% {height:146px;}
  }
.bottom-wave {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {

        position: relative;
        display: block;
        width: calc(179% + 1.3px);
        height: 200px;
        animation-iteration-count: infinite;
        transition: bottom 3s ease-in-out;
    }
    .shape-fill {
        fill: $Third-color*$lighter;
    }
}


.error{
    transition: 100ms;
    background-color: $Main-color*$darker;
    border-radius: 1rem;
    border: 1px solid red;
    text-align: center;
    color: rgb(253, 17, 17);
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: bold;
    font-size: larger;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  .modal {
    width: clamp(60%, 25rem, 90%);
    height: min(70%, 60%);
    background-color:$Main-color ;
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  




